.para{
    background-color: green;
    color: red;
    text-align: justify;
    padding: 20px;
    border: 2px solid #ffff00;
    border-radius: 10px
}
span{
    color: yellow;
}
.jj{
    background-color: black;
    height: 200px;
    width: 200px;
}